# AUTOMATIC V MANUAL FUNCTIONAL ANNOTATION AND THEIR COMBINATION

In this notebook we compare automatically extracted function annotations from UniProt using the Proteins API with a manually curated annotation performed by JSU and combine both results.

### IMPORTING NECESSARY PACKAGES

In [2]:
from fragsys_analysis import *

In [3]:
main_dir = "./../"
results_dir = os.path.join(main_dir, "results/new")

In [4]:
bs_func_AUTO = load_pickle(os.path.join(results_dir, "prot_func_dict_auto.pkl"))
bs_func_MANUAL = load_pickle(os.path.join(results_dir, "prot_func_dict_manual.pkl"))

In [5]:
bs_func_MANUAL2 = {}
for k, v in bs_func_MANUAL.items():
    nk = "{}_{}_{}".format(k[0], k[1], k[2])
    if v == "non_active":
        nv = "UF"
    elif v == "active":
        nv = "KF"
        
    else:
        print(k)
        continue
    bs_func_MANUAL2[nk] = nv

In [6]:
fdf = pd.DataFrame(sorted(bs_func_AUTO.items()))

In [7]:
fdf[2] = fdf[0].map(bs_func_MANUAL2)

In [8]:
fdf.columns = ["bs_id", "auto", "manual"]

In [9]:
fdf.head(5)

           bs_id auto manual
0   H0Y4R8_0_BS0   UF     UF
1   O15178_0_BS0   UF     UF
2   O15178_0_BS1   UF     UF
3  O15178_0_BS10   UF     KF
4   O15178_0_BS2   UF     UF

In [10]:
len(fdf.query('auto != manual').sort_values(by = ["bs_id"]))

27

In [11]:
fdf.query('auto != manual').sort_values(by = ["bs_id"])

             bs_id auto manual
3    O15178_0_BS10   UF     KF
11    O15178_0_BS9   UF     KF
15    O43809_0_BS3   KF     UF
16    O95696_0_BS0   UF     KF
19    P01584_0_BS0   KF     UF
21    P01584_0_BS2   KF     UF
27    P06873_0_BS3   KF     UF
32    P06873_0_BS8   KF     UF
37    P0DTD1_0_BS0   KF     UF
42   P0DTD1_0_BS13   KF     UF
116   P22557_0_BS3   KF     UF
137   Q12830_0_BS0   UF     KF
153   Q5T0W9_0_BS2   UF     KF
158   Q6B0I6_0_BS1   KF     UF
164  Q6B0I6_0_BS15   UF     KF
191   Q6PL18_0_BS2   UF     KF
192   Q6PL18_0_BS3   UF     KF
194   Q6PL18_0_BS5   UF     KF
205   Q7LBC6_0_BS9   KF     UF
207   Q8IU60_0_BS1   KF     UF
212   Q8WS26_0_BS1   UF     KF
220   Q8WS26_0_BS4   UF     KF
236   Q8WWQ0_0_BS0   UF     KF
264   Q9BRQ3_0_BS4   UF     KF
272   Q9UIF8_0_BS0   UF     KF
274   Q9UJM8_0_BS1   KF     UF
285   Q9Y2J2_0_BS2   UF     KF

In [12]:
def f(row):
    if row['auto'] == "UF" and row['manual'] == "KF":
        val = "KF"
    else:
        val = row['auto']
    return val

In [13]:
fdf['comb'] = fdf.apply(f, axis=1)

In [14]:
fdf.auto.value_counts()

UF    264
KF     29
Name: auto, dtype: int64

In [17]:
len(list(set([el.split("_")[0] for el in fdf.query('auto == "KF"').bs_id.unique().tolist()])))

17

In [14]:
fdf.manual.value_counts()

UF    261
KF     32
Name: manual, dtype: int64

In [18]:
len(list(set([el.split("_")[0] for el in fdf.query('manual == "KF"').bs_id.unique().tolist()])))

22

In [15]:
fdf.comb.value_counts()

UF    249
KF     44
Name: comb, dtype: int64

In [19]:
len(list(set([el.split("_")[0] for el in fdf.query('comb == "KF"').bs_id.unique().tolist()])))

26

In [16]:
dump_pickle(fdf, os.path.join(results_dir, "prot_func_dict_comb.pkl"))